body {
  margin-left: 200px;
  background-color:gray;
  color: red;
}

ul.navbar {
  position: absolute;
  list-style-type: none;
  top: 30px;
  left: 10px;
  width: 140px;
}
ul.navbar li {
  margin: 5px 0;
  padding: 5px;
  border-right: 1px solid #17252a;
  border-top: 1px solid #17252a;
  border-left: 7px solid #17252a;
  border-bottom: 1px solid #17252a;
}

ul.navbar a {
  text-decoration: none
}
p.first {
	color: green;
}
p.second{
	color: yellow;
}

a:link {
  color: red;
}

a:visited {
  color: yellow;
}


